# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
storage/

# Environment variables
.env
.flaskenv
.env.local

# IDE / Editor specific
.vscode/
!.vscode/extensions.json
*.code-workspace
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node
logs
*.log
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
dist-ssr
*.local

# OS specific
.DS_Store
*~
*.swp
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
